<h1>All articles!</h1>
<button (click)="btnOpenDialogForAddArticle()">
  <mat-icon>add_box</mat-icon>
</button>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Author name</th>
      <th>Topic</th>
      <th>Curriculum name</th>
      <th>Anotation</th>
      <th>Published time</th>
      <th>Article file</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of allArticles">
      <td>{{item.authorFirstname}} {{item.authorSecondname}}</td>
      <td>{{item.topic}}</td>
      <td>{{item.curriculumName}}</td>
      <td>{{item.anotation}}</td>
      <td>{{item.publishedTime}}</td>
      <td>
        <app-download [fileName]="item.fileName" (downloadStatus)="downloadStatus($event)"></app-download>
      </td>
      <td>
        <button (click)="btnDelete(item.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>