<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="articles">Articles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="authors">Authors</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="curriculums">Curriculums</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="aboutus">About</a>
      </li>
    </ul>
  </nav>
  
  <router-outlet></router-outlet>