<div class="wrapper fadeInDown">
    <div id="formContent">
        <h2 class="active"> Reset Password </h2>
        <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
            <input type="password" class="fadeIn third" name="password" placeholder="password" [(ngModel)]="form.password" required minlength="6" #password="ngModel" />
            <input type="password" class="fadeIn third" name="confirmpassword" placeholder="confirm password" [(ngModel)]="form.confirmpassword" required minlength="6" #confirmpassword="ngModel" />
            <button class="fadeIn fourth btnLogIn">Confirm</button>
        </form>
    </div>
</div>